div#trail_monitor_console.theme_default {
    z-index: 999999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    padding: 6px;
    font-family: monospace;
    font-size: 11px;
    background: #9F0000;
    opacity: 0.9;
    color: #FFFFFF;
}

div#trail_monitor_console.theme_default.trail_large {
    width: 80%;
}

div#trail_monitor_console.theme_default span.trail_toggle {
    float: right;
    border-radius: 3px;
    background: #2F2F2F;
    color: #CFCFCF;
    margin: -3px 6px -3px 6px;
    padding: 3px 5px 3px 4px;
    cursor: pointer;
}

div#trail_monitor_console.theme_default select {
    min-width: 160px;
}

div#trail_monitor_console.theme_default div.trail_items {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 2.8em 6px 6px 6px;
    overflow: auto;
    background: #000000;
    opacity: 0.98;
    color: #FFFFFF;
    white-space: nowrap;
}

div#trail_monitor_console.theme_default div.trail_items.trail_wrap {
    white-space: normal;
}

div#trail_monitor_console.theme_default div.trail_item {
    margin: 3px 0px 3px 0px;
    padding: 0px 1px 0px 3px;
}

div#trail_monitor_console.theme_default span.trail_level {
    display: inline-block;
    border-radius: 3px;
    margin: -1px;
    padding: 1px;
    background: #FF00FF;
    color: #000000;
    font-weight: bold;
    width: 1.2em;
    text-align: center;
}

div#trail_monitor_console.theme_default span.trail_level.trail_level-DEBUG {
    background: #00FF00;
}

div#trail_monitor_console.theme_default span.trail_level.trail_level-INFO {
    background: #0000FF;
}

div#trail_monitor_console.theme_default span.trail_level.trail_level-WARN {
    background: #FF9F00;
}

div#trail_monitor_console.theme_default span.trail_level.trail_level-ERROR {
    background: #FF0000;
}

div#trail_monitor_console.theme_default span.trail_message {
    margin-left: 7px;
}

div#trail_monitor_console.theme_default span.trail_message.trail_message-server {
    color: #FFFF00;
}

div#trail_monitor_console.theme_default span.trail_message.trail_message-other_client {
    color: #00B0B0;
}

